@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 30px auto auto;
}
.calc-container {
    background-color: #504f53;
    position: relative;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
    min-width: 300px;
    max-width: 350px;
    height: 90vh;
    min-height: 400px;
    max-height: 500px;
    border-radius: 12px;
    border-width: 0 2px 1px 2px;
    border-style: solid;
    border-color: #504f53;
    box-shadow: 3px 3px 10px #504f53;
}

.input-container{
    background-color: #504f53;
    display: flex;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 25%;
    justify-content: end;
    align-items: end;
    padding: 0 10px;
    font-size:calc(30px + 1.5vw);
    font-weight: 100;
}

.button-container{
    /* background-color: lightblue; */
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 75%;
}

.num.button-container,
.op.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.num{
    /* background-color: blueviolet; */
    width: 75%;
    height: 100%;
}

.op {
    /* background-color: brown; */
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.button{
    display: inline-block;
    width: 33.3%;
    height: 20%;
    background-color: #7c7b80;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #504f53;
    border-right: 1px solid #504f53;
    font-size: calc(20px + 1vw);;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
}
.button:active {
    background-color: #b0b0b2;
}

.op > .button {
    width: 100%;
    background-color: #ff9e0b;
    border-right: 0;
}
.op > .button:active {
    background-color: #cb7d04;
}

.mod.button{
    background-color: #616065;
}
.mod.button:active{
    background-color: #7c7b80;
}

.button.wide {
    width: 66.6%;
}

.right-corner {
    border-radius: 0 0 10px 0;
}

.left-corner{
    border-radius: 0 0 0 10px;
}

.circle-container{
    position: absolute;
    top:0px;
    left:0px;
    padding: 10px;
    height: 12px;
    display: flex;
    gap: 7px;
}

.circle{
    display: inline-block;
    background-color: #ff5f57;
    border-radius: 100%;
    height: 12px;
    width: 12px;
}
.yellow {
    background-color: #febc2e;
}
.green{
    background-color: #28c840;
}